<h1> Price List</h1>
<br>
<h3> As a Guest: $ 2 / hour </h3>
<br>
<h3> As a Member: for short-term (less than 24 hours) $ 2 / hour for the first 2 hours then $ 1 / hour </h3>

<h3> and for long-term (more than 1 day) is $ 24 / day </h3>
<br>

<%= link_to image_tag("cherry-blossom.jpg", alt: "DC map", :size => "1024x495")  %>





<%= link_to 'back to parking page', root_path %>