<h1>Calculating the parking fee</h1>

<%= form_for @parking do |f| %>

   <% if current_user %>
 
     <label>
       <%= f.radio_button :parking_type, "short-term" %> short-term
     </label>
 
     <label>
       <%= f.radio_button :parking_type, "long-term" %> long-term
     </label>
 
   <% else %>
     general
   <% end %>

  <p><%= f.submit "start to count" %></p>

<% end %>
